[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Aa]ssets/AssetStoreTools*
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.unitypackage
Obiektyw60plus/.vs/Obiektyw60plus/v15/Server/sqlite3/db.lock
Obiektyw60plus/.vs/Obiektyw60plus/v15/Server/sqlite3/storage.ide-wal
*.csproj
*.mdb
*.log
*.log
*.cache
*.ide-wal
*.ide-shm
*.sln
Obiektyw60.1/Obiektyw60plus/Library/assetDatabase3
*.mdb
Obiektyw60plus/Library/assetDatabase3
*.csproj
Obiektyw60plus/Library/shadercompiler-UnityShaderCompiler.exe0.log
Obiektyw60plus/Assembly-CSharp-Editor.csproj
Obiektyw60plus/Library/shadercompiler-UnityShaderCompiler.exe0.log
Obiektyw60plus/Library/assetDatabase3
Obiektyw60plus/Assets/Scenes/ModeStory.unity
*.csproj
*.log
*.sln
*.csproj
*.sln
*.log
Obiektyw60plus/Library/assetDatabase3
